.popup__input_type_error {
  border-bottom-color: #f00;
}

.form_input-message-error {
  min-height: 15px;
  margin: 5px 0 10px 0;
}

.form_input-message-error_active {
  color: #f00;
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
word-break: break-all;
}


