.profile__info {
  max-width: 550px;
  display: grid;
  grid-template-columns: minmax(30px, max-content) minmax(24px, 1fr);
  column-gap: 18px;
  row-gap: 8px;
}

@media (max-width: 600px) {
  .profile__info {
    margin-bottom: 32px;
  }
}

@media (max-width: 450px) {
  .profile__info {
    grid-template-columns: minmax(30px, max-content) minmax(18px, 1fr);
    column-gap: 10px;
    margin-left: 22px;
  }
}
