.card__button_type_like {
  width: 22px;
  height: 19px;
  background: transparent url(../../../../images/icon-like-disabled.svg) no-repeat center center;
}

.card__button_type_like:hover {
  opacity: .5;
}
