.profile__subtitle {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-rendering: optimizeLegibility;
}

@media (max-width: 600px) {
  .profile__subtitle {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
