.content {
  max-width: 880px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 880px) {
  .content {
    padding-left: 19px;
    padding-right: 19px;
    transition-property: padding-right, padding-left;
    transition-duration: 1s;
  }
}

