.popup__button-submit_disabled {
  opacity: .2;
  border: 1px solid #000000;
  background-color: transparent;
  cursor: not-allowed;
  color: #000;
}

.popup__button-submit_disabled:hover {
  opacity: .2;
}
