.elements__list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 17px;
  margin: 0;
}
